.service-navbar {
  display: flex;
  border-bottom: 1px solid $black;
  align-items: center;
  justify-content: space-between;
  height: 5em;
  position: sticky;
  top: 0;
  background-color: $white;
  z-index: 1000;
}

.service-nav-logo-section {
  display: flex;
  flex: 1;
  height: 100%;
  padding: 2em;
}
.service-nav-logo {
  align-self: center;
  margin: 0;
  a {
    text-decoration: none;
    color: $black;
  }
}

.service-nav-link-section {
  flex: 2;
  border-right: solid 1px $black;
  height: 100%;
}

.service-nav-links {
  padding: 2em;
  display: flex;
  justify-content: flex-end;
  gap: 2em;
}

.service-nav-socials-section {
  flex: 1;
  height: auto;

  ul {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 0 2em;
  }
}

@media (max-width: 880px) {
  .service-nav-logo-section {
    border: none;
  }
  .service-nav-links {
    justify-content: space-around;
  }
  .service-nav-socials-section {
    display: none;
  }
}

@media (max-width: 800px) {
  .service-nav-link-section {
    display: none;
  }
}
