.service-main {
  display: flex;
  height: 83vh;
  flex-direction: column;
  position: relative;
}

.service-upper-section {
  display: flex;
  flex: 1;
  border-bottom: solid 1px $black;
  position: relative;
  max-height: 16.6vh;
}

.service-upper-space {
  background-color: $fade-blue;
}

.service-lower-section {
  display: flex;
  flex: 4;
  border-bottom: solid 1px $black;
  position: relative;
  max-height: 66.4vh;
  width: 100%;
}

.service-header-section {
  flex: 3;
  display: flex;
  border-right: solid 1px $black;
  align-items: center;
  padding: 2em;
}

.service-header-container {
  color: $blue;
}

.service-upper-space {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    background-color: $blue;
    color: $white;
    padding: 0.5em;
    border: none;
  }
}

.service-carousel-section {
  flex: 3;
  border-right: solid 1px $black;
  padding: 2em;
  position: relative;
  height: 100%;
  width: 75vw;
}

.service-img-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  max-width: 100%;
  img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
  }
}

.service-info-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-info-upper-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-bottom: solid 1px $black;
  background-color: $blue;
  color: $white;
  padding: 2em;
  justify-content: space-between;
  gap: 2em;
  max-height: 33.2vh;
  button {
    display: none;
    border: none;
    background-color: $white;
    color: $blue;
    padding: 0.5em;
  }
}

.call-btn-text {
  text-decoration: none;
  color: $blue;
}

.service-info-lower-section {
  flex: 1;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
}

@media (max-width: 950px) {
  .service-upper-space {
    display: none;
  }
  .service-lower-section {
    flex-direction: column;
    border: none;
  }
  .service-info-upper-section {
    button {
      display: block;
    }
  }
  .service-carousel-section {
    width: 100%;
  }
}

.service-btn {
  cursor: pointer;
  transition: ease-in 0.2s;
  &:hover {
    background-color: $white;
    color: $blue;
    border: solid 1px $blue;
  }
}
