//MOBILE & TABLET

h1 {
  font-size: var(--fs-40);
  font-weight: 900;
  font-family: var(--ff-heading);
  line-height: 1.2;
}

h2 {
  font-size: var(--fs-35);
  font-weight: 900;
  font-family: var(--ff-heading);
  line-height: 1;
}

h3 {
  font-size: var(--fs-25);
  font-weight: 900;
  font-family: var(--ff-heading);
  line-height: 1;
}

h4 {
  font-size: var(--fs-16);
  font-weight: bold;
  font-family: var(--ff-para);
  line-height: 1;
  text-transform: uppercase;
}

p {
  font-size: var(--fs-16);
  font-family: var(--ff-para);
  line-height: 1.5;
}

.cta {
  font-size: var(--fs-25);
  font-weight: bold;
  font-family: var(--ff-para);
  line-height: 1;
}

.sub-heading {
  font-size: var(--fs-16);
  font-style: italic;
  font-family: var(--ff-para);
  line-height: 1;
}

//DESKTOP
@media (min-width: $layout-breakpoint-desktop) {
  h1 {
    font-size: var(--fs-60);
    font-weight: 900;
    font-family: var(--ff-heading);
    line-height: 1.2;
  }

  h2 {
    font-size: var(--fs-40);
    font-weight: 900;
    font-family: var(--ff-heading);
    line-height: 1;
  }

  h3 {
    font-size: var(--fs-35);
    font-weight: 900;
    font-family: var(--ff-heading);
    line-height: 1;
  }

  h4 {
    font-size: var(--fs-20);
    font-weight: bold;
    font-family: var(--ff-para);
    line-height: 1;
    text-transform: uppercase;
  }

  p {
    font-size: var(--fs-20);
    font-family: var(--ff-para);
    line-height: 1.5;
  }

  .cta {
    font-size: var(--fs-30);
    font-weight: bold;
    font-family: var(--ff-para);
    line-height: 1;
  }

  .sub-heading {
    font-size: var(--fs-20);
    font-style: italic;
    font-family: var(--ff-para);
    line-height: 1;
  }
}
